{% extends "base/index.html" %}

{% block main %}
<div class="row bg-primary">
    <div class="card text-center mt-5 mb-5 mx-auto">
        <div class="card-header">
            Menú
        </div>
        <div class="card-body">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="/camaras/"><input type="submit" class="btn btn-primary btn-block" value="Cámaras en Vivo"></a>
                    </li>
                    <li class="list-group-item">
                        <a href="/grabaciones/"><input type="submit" class="btn btn-primary btn-block" value="Grabaciones"></a>
                    </li>         
                </ul>
            </div>
        </div>
    <div class="card-footer text-muted">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">         
                    <a href="/perfil/"><input type="submit" class="btn btn-primary btn-block" value="Volver"></a>
                </li>
            </ul>
        <div class="card">
    </div>
</div>
</div>

{% endblock main%}