{% extends "base/index.html" %}
<!--<div class="container">
    <section class="8">
        <h1>Bienvenido {{user.username}}</h1>

        <div class="card">
            <h1>Nombre: {{user.username}}</h1>
            <h1>Apellido: {{user.last_name}}</h1>
        </div>
        <a href="/cuenta/">Cerrar Sesión</a>
        <a href="/auto/">Ir al Menú</a>
    </section>
</div>-->

{% block main %}
<div class="row bg-primary">

    <section class="card col-sm-12 col-md-5 mx-auto mt-5 mb-5">
        <article class="card-header">
            <h5 class="card-title">
                Perfil de {{user.username}}
            </h5>
        </article>

        {% csrf_token %}
        {% if user.is_superuser == True %}
            <article class="card-body">
                <h5> Moderador : {{user.username}} </h5>
            </article>
        {% else%}
            <article class="card-body">
                <h5> Nombre : {{user.first_name}} </h5>
                <h5> Apellido : {{user.last_name}} </h5>
                <h5> Correo : {{user.email}} </h5>

            </article>
        {% endif %}
        {% if user.is_superuser == True %}

            <article class="card-footer">
                <a href="/listarMovimiento"><input type="submit" class="btn btn-primary btn-block" value="Listar registros de movimientos"></a>
            </article>
            <article class="card-footer">
                <a href="/interfazrec/"><input type="submit" class="btn btn-primary btn-block" value="Ver Camaras"></a>
            </article> 
            <article class="card-footer">
                <a href="/menu"><input type="submit" class="btn btn-primary btn-block" value="Menú Administrativo"></a>
            </article>
            <article class="card-footer">
                    <a href="{%url 'salir'%}"><input type="submit" class="btn btn-primary btn-block" value="Cerrar sesión"></a>
            </article>
        {% else %}
            <article class="card-footer">
                <a href="/listarMovimiento"><input type="submit" class="btn btn-primary btn-block" value="Ver registros de movimientos"></a>
            </article>
            <article class="card-footer">
                <a href="/interfazrec/"><input type="submit" class="btn btn-primary btn-block" value="Ver Camaras"></a>
            </article> 
            <article class="card-footer">
                    <a href="{%url 'salir'%}"><input type="submit" class="btn btn-primary btn-block" value="Cerrar sesión"></a>
            </article>
        {% endif %}

    </section>
</div>
{% endblock main %}
