{% extends "base/index.html" %}

{% block main %}
<div class="row bg-primary">
    <div class="card text-center">
        <div class="card-header">
            Cámaras en Vivo
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <input type="submit" class="btn btn-primary btn-block" value="Cam 1">
                    </div>
                </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 2">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 3">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 4">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 5">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 6">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 7">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 8">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 9">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 10">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 11">
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input type="submit" class="btn btn-primary btn-block" value="Cam 12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="/cuenta/interfazrec/"><button type="submit" class="btn btn-primary">Volver</button></a>
        </div>
    </div>
</div>

{% endblock main%}