{% extends "base/index.html" %}

{% block main %}
<div class="card text-center">
    <div class="card-header">
        Ver Grabaciones
    </div>
    <div class="card-body">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Cámaras en vivo</button>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Grabaciones</button>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Volver</button>
            </li>
            </ul>
        </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

{% endblock main%}