{% extends "base/index.html" %}

{% block main %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary">Volver</button>
  
{% endblock main%}