{% extends "base/index.html" %}

{% block main %}
<div class="row bg-primary">
    
    <section class="card col-sm-12 col-md-4 mx-auto mt-5 mb-5">
        <article class="card-header">
            <h5 class="card-title">
                Iniciar Sesión
            </h5>
        </article>
        <form action="" method="POST" class="formulario">
            {% csrf_token %}
            <article class="card-body">
                
                <div class="form-group">
                    
                    <label for="{{ campo.id_for_label}}">{{campo.label}}</label>

                    {{campo}}
                    {{ formulario.as_p }}

                </div>  

            </article>
            <article class="card-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Entrar">
            </article>
            <article class="card-footer">
                <a href="/cuenta/registro/">¿No tienes cuenta?</a>
            </article>
        </form>
    </section>
</div>
{% endblock main %}
