{% extends "base/index.html" %}

{% block main %}
<div class="card text-center">
    <div class="card-header">
       Menú
    </div>
    <div class="card-body">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Agregar Usuario</button>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Eliminar Usuario</button>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Listar Usuario</button>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Modificar Usuario</button>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Listar Registro de Movimiento</button>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Ver grabaciones</button>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Cerrar Sesión</button>
            </li>
            </ul>
        </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

{% endblock main%}