{% extends "base/index.html"%}

{% block main %}
<div class="row bg-primary">

    <section class="card col-sm-10 col-md-4 mx-auto mt-5 mb-5">
        <article class="card-header">
            <h5 class="card-title">
                Menú Administrativo
            </h5>
        </article>
        <article class="card-body">
            <a href="/productos/agregarProducto"><input type="submit" class="btn btn-primary btn-block" value="Agregar Producto"></a>
        </article>
        <article class="card-body">
            <a href="/productos/listarProducto"><input type="submit" class="btn btn-primary btn-block" value="Listar Productos"></a>
        </article>
        <article class="card-body">
            <a href="/registro"><input type="submit" class="btn btn-primary btn-block" value="Agregar Usuario"></a>
        </article>
        <article class="card-body">
            <a href="/listar"><input type="submit" class="btn btn-primary btn-block" value="Listar Usuarios"></a>
        </article>
        <article class="card-footer">
                <a href="/perfil"><input type="submit" class="btn btn-primary btn-block" value="Volver"></a>
        </article>

    </section>
</div>
{% endblock main %}