{% extends "base/index.html" %}

{% block main %}
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Ingrese Rut" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Nombre Usuario</div>
    <div class="card-body text-success">
      <p class="card-text">Nombre: Nombre del Usuario</p>
      <p class="card-text">Apellido: Apellido del Usuario</p>
      <p class="card-text">Rut: Rut del Usuario</p>
      <p class="card-text">Cargo: Cargo del Usuario</p>
      <p class="card-text">Correo: Correo del Usuario</p>
    </div> 
  </div>
  <div class="card-footer bg-transparent border-success">
    <button type="submit" class="btn btn-primary">Volver</button>
    <button type="submit" class="btn btn-primary">Modificar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
</div>

{% endblock main%}