{% extends "base/index.html" %}
<!--<div class="container">
    <section class="8">
        <h1>Bienvenido {{user.username}}</h1>

        <div class="card">
            <h1>Nombre: {{user.username}}</h1>
            <h1>Apellido: {{user.last_name}}</h1>
        </div>
        <a href="/cuenta/">Cerrar Sesión</a>
        <a href="/auto/">Ir al Menú</a>
    </section>
</div>-->

{% block main %}
<div class="row bg-primary">
    <section class="card col-sm-12 col-md-6 mx-auto mt-5 mb-5">
        <article class="card-header">
            <h5 class="card-title">
                Perfil de {{user.username}}
            </h5>
        </article>

        {% csrf_token %}
        {% if user.is_superuser == True %}
        <article class="card-body">
            <h5> Moderador : {{user.username}} </h5>
        </article>
        {% else %}
            <article class="card-body">
                <h5> Nombre : {{user.first_name}} </h5>
                <h5> Apellido : {{user.last_name}} </h5>
                <h5> Correo : {{user.email}} </h5>
            </article>
        {% endif %}
        {%if user.is_superuser == True%}
        <article class="card-footer">
            <a href="/cuenta/registro/"><input type="submit" class="btn btn-primary btn-block" value="Agregar Usuario"></a>         
        </article>
        <article class="card-footer">
            <a href="/cuenta/eliminar/"><input type="submit" class="btn btn-primary btn-block" value="Eliminar Usuario"></a>         
        </article>
        <article class="card-footer">
            <a href="/cuenta/listar/"><input type="submit" class="btn btn-primary btn-block" value="Listar Usuarios"></a>         
        </article>
        <article class="card-footer">
            <a href="/cuenta/modificar/"><input type="submit" class="btn btn-primary btn-block" value="Modificar Usuario"></a>        
        </article>

        {%endif%}
        <article class="card-footer">
            <a href="/cuenta/interfazrec/"><input type="submit" class="btn btn-primary btn-block" value="Ver Camaras"></a>
        </article>
        <article class="card-footer">
            <a href="/cuenta/listarMovimiento"><input type="submit" class="btn btn-primary btn-block" value="Listar registros de movimientos"></a>         
        </article>
        <article class="card-footer">
                <a href="{%url 'salir'%}"><input type="submit" class="btn btn-primary btn-block" value="Cerrar sesión"></a>         
        </article>

    </section>
</div>
{% endblock main %}