{% extends "base/index.html" %}
<!--<div class="container">
    <section class="8">
        <h1>Bienvenido {{user.username}}</h1>

        <div class="card">
            <h1>Nombre: {{user.username}}</h1>
            <h1>Apellido: {{user.last_name}}</h1>
        </div>
        <a href="/cuenta/">Cerrar Sesión</a>
        <a href="/auto/">Ir al Menú</a>
    </section>
</div>-->

{% block main %}
<div class="row bg-primary">
    
    <section class="card col-sm-12 col-md-6 mx-auto mt-5 mb-5">
        <article class="card-header">
            <h5 class="card-title">
                Perfil de {{user.username}}
            </h5>
        </article>

        {% csrf_token %}
        <article class="card-body">
            <h5> Nombre : {{user.first_name}} </h5>
            <h5> Apellido : {{user.last_name}} </h5>
            <h5> Correo : {{user.email}} </h5>
            <a href="/cuenta/modificar/"><input type="submit" class="btn btn-primary btn-block" value="Modificar"></a>
        </article>
        <article class="card-footer">
                <a href="/cuenta/"><input type="submit" class="btn btn-primary btn-block" value="Volver"></a>         
        </article>

    </section>
</div>
{% endblock main %}