{% extends "base/index.html" %}


{% block main %}

<div class="row bg-primary">
    <section class="card col-sm-10 col-md-4 mx-auto mt-5">
        <article class="card-header">
            <h5 class="card-title">
                Registrar
            </h5>
        </article>
        {%for message in messages%}
            <div class="message">
                {{message}}
            </div>
        {%endfor%}
        <form action="" method="POST" class="formulario">
            {% csrf_token %}
            <article class="card-body">  
                {% for campo in formulario %}  
                    <div class="form-group">
                        <label for="{{ campo.id_for_label}}">{{campo.label}}</label>
                        {{campo}}
                    </div>             
                {% endfor %}
                {{ formulario2.as_p }}
            </article>
            <article class="card-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Registrar">
            </article>
        </form>
        <article class="card-footer">
            <a href="/cuenta/perfil/"><input type="submit" class="btn btn-primary btn-block" value="Menú"></a>
        </article>
    </section>
</div>

{% endblock main %}