{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    
    {% endblock css %}
    <title>MovSecurity</title>
</head>
<body>
    <header>

        {% block header %}

        {% endblock header %}

    </header>
    <main>

        {% block main %}

        {% endblock main %}

    </main>
    <footer>

        {% block footer %}

        {% endblock footer %}

    </footer>
</body>
</html>